<h1 class="text-center">Expense Tracker App - Angular</h1>
<section class="text-center">
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Expense Name</mat-label>
    <input matInput type="text" placeholder="expense" [(ngModel)]="expName" />
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Expense Amount</mat-label>
    <input matInput type="number" placeholder="0" class="expAmt-right-align" [(ngModel)]="expAmt" />
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Expense Date</mat-label>
    <input matInput type="date" placeholder="date of expense" [(ngModel)]="expDate" />
  </mat-form-field>

  <div>
    <button type="button" name="addExpense" (click)="getExpense()">Add Expense</button>
  </div>
</section>
<!-- <expenseview-root [expName]=expName [expAmt]=expAmt [expDate]=expDate [newExpObj]=newExpObj></expenseview-root> -->
<expenseview-root [newExpObj]=newExpObj></expenseview-root>