html,
body {
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url("./assets/symbol-scatter-haikei.svg") no-repeat;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
